.page-navigation {
  background-color: #0099CC;
  height: 50px;
}

.page-navigation ul {
  list-style: none;
}

.page-navigation ul li {
  padding: 0 25px;
  float: left;
  line-height: 50px;
}

.page-navigation ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.page-navigation ul li a:hover {
  color: #black;
  text-decoration: underline;}

  .favorite-links li a {
    color; pink;
  }

  .favorite-links li a;hover {
    color; green;
    text decoration; none;
  }

  .main-header {
    height:100px;
    color:#fff;
    background:lightgrey;
  }