
.container {
	width: 750px;
	margin: auto;
	color: #4E2E2E;
}

.main-header {
	height: 100px;
	color: #fff;
	background: #6E6E9D;
}

.main-content {
	padding: 20px;
	background: #fff;
}

.main-footer {
	height: 100px;
	color: #fff;
	background: #6F4141;
}

.base{
	padding-top: 50px;
	color: #fff;
	text-align: center;
	font-size: 24px; 
}

ul {
	list-style: none;
	padding-right: 50;
}

.left-side {
	float:left;
	padding-right: 10px;
}

p {
	padding-left: 150px;
}

h3 {
	padding-left: 150px;
}


